<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title> Audit Policy </title>

    <style>
      input[type=text] {
        width: 100%;
        border-radius: 4px;
        background-color: white;
        background-image: url(https://www.w3schools.com/css/searchicon.png);
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
      }
    
      .search-bar {
        width: 60%;
        margin: auto;
        margin-top: 70vh;
      }
    </style>
    
  </head>
  <body>
    <div class="search-bar">
      <form id="form" method="post">
        <input type="text" name="url" placeholder="Audit...">
      </form>
    </div>
  </body>
</html>